@import "type.css";

:root {
  --font-family-cap: CircularStd-Book, sans-serif;
  --font-family-nrm: Akkurat, sans-serif;
  --font-family-nrml: Akkurat-Light, sans-serif;
  --black: #272727;
  --red: #fc0d1c;
  --bck-color: mistyrose;
  --background: rgba(14, 14, 14, 0.28);
  --grey: #808080;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-family-cap);
  font-size: 16px;
  font-weight: 300;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Back to top start */
.arrow {
  float: right;
}

.arrow_active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 1.25em;
  right: 1.875em;
  z-index: 99;
  font-size: 0.93em;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 0.75em;
  border-radius: 4px;
}
/* Back to top end */

header {
  background: var(--bck-color)
    url(../images/business-woman-in-tech-office_4460x4460.jpg) no-repeat
    no-repeat;
  min-height: 700px;
  background-size: cover;
  background-position: top left;
  object-fit: cover;
  width: 100%;
}

.header_holder {
  border-bottom: 1px solid rgba(161, 161, 161, 0.26);
  background: rgba(0, 0, 0, 0.49);
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  padding-bottom: 1.1em;
  color: var(--black);
}

.logo a img {
  width: 8.125em;
  margin-top: 1.25em;
}

nav ul li {
  display: inline-block;
  padding: 32px 15px 0 15px;
  text-transform: uppercase;
  font-family: var(--font-family-cap);
  font-size: 0.75em;
  line-height: 1.65;
  font-weight: 400;
}

nav ul li a {
  color: white;
}

nav ul li a:hover,
nav ul li a:active {
  color: var(--red);
}

nav ul li svg {
  vertical-align: middle;
  margin-top: 0.25em;
  margin-left: 0.1875em;
}

.hero {
  background: var(--background);
  padding-top: 9.5em;
  padding-bottom: 14.5em;
}

.hero_content {
  width: 80%;
  color: white;
  margin: 0 auto;
}

.hero_text {
  width: 60%;
}

.hero h1 {
  font-size: 4em;
  line-height: 1.15em;
  font-weight: 300;
}

.avatar {
  text-transform: uppercase;
  color: var(--red);
}

.cta_demo {
  color: #fff;
  background-color: var(--red);
  border: 2px solid var(--red);
  border-radius: 6px;
  font-size: 0.875em;
  padding: 12px 48px;
  margin-bottom: 12px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  font-family: var(--font-family-cap);
}

.cta_demo:hover {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.platform {
  background: #fafafa;
}

.platform_content {
  padding: 100px 0 120px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.platform_content h2 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.2em;
}

.platform_content p {
  font-family: var(--font-family-nrml);
  font-size: 1.2em;
  line-height: 1.8em;
  color: var(--grey);
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 40px;
}

.services_box {
  width: 100%;
  height: 400px;
  background: mistyrose;
}

.more_services {
  text-align: right;
  padding: 80px 0 40px;
}

.more_services a {
  color: var(--black);
}

.more_services a:hover {
  color: var(--red);
  text-decoration: underline;
}

.testimony {
  width: 50%;
  padding: 70px 0 40px;
}

.testimony h2 {
  font-size: 2.5em;
}

.testimony p {
  font-size: 1.2em;
}

.clients {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
  width: 90%;
  margin: 0 auto;
}

.client_box {
  width: 100%;
  height: 200px;
}

.client_box img {
  width: 100px;
  margin-top: 50px;
  margin-left: 25px;
}

#firs {
  margin-top: 65px;
  width: 150px;
  margin-left: 0px;
}

#lagos {
  width: 220px;
  margin-left: 0px;
  margin-top: 85px;
}

#shell {
  margin-left: 50px;
}

.speakers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 70px;
  margin: 100px auto;
  width: 90%;
}

.testifer {
  border: 1px solid #eee;
  padding: 30px;
  background: #fafafa;
}

.testifer p {
  font-size: 1em;
  line-height: 1.8125em;
  font-family: var(--font-family-nrml);
  color: var(--grey);
  margin: 0;
}

.testifer_info {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.client_image img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #eee;
  border: 1px solid #eee;
  margin: 0;
}

.client_info {
  font-family: var(--font-family-nrm);
}

.client_info h4,
.client_info h6 {
  margin: 3px;
}

.client_info h6 {
  padding-top: 5px;
}

#testifier2 {
  padding-top: 60px;
}

.products {
  background: #fafafa;
}

.product_content {
  padding: 120px 0;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.product_content h1 {
  font-size: 3em;
  line-height: 1.25em;
  font-weight: 300;
}

.footer_bar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 70px auto 40px auto;
  text-align: center;
}

.footer_bar a {
  text-decoration: none;
  color: rgb(194, 191, 191);
}

.footer_bar ul {
  padding-left: 0;
}

.footer_bar ul li {
  list-style: none;
  line-height: 2;
}

.footer_bar ul li:nth-child(1) a {
  font-weight: 800;
  margin-bottom: 20px;
  color: black;
}

.creator {
  display: grid;
  border-top: 1px solid #eee;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 40px 0 40px 0;
  width: 85%;
  color: var(--grey);
  font-family: var(--font-family-nrml);
}

.creator p a {
  color: var(--red);
  text-decoration: underline;
}

.copy {
  justify-self: end;
}
